/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.header {
  width: 100%;
}
.header .top-side {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.header .top-side .profile {
  display: flex;
  align-items: center;
  font-weight: 700;
}
.header .top-side .profile span,
.header .top-side .profile img {
  margin-right: 30px;
}
.header .top-side .profile h1 {
  margin-right: 60px;
}

.header .top-side .search-container {
  display: flex;
  width: 50vh;
  align-items: center;
}
.header .top-side .search-container .search {
  margin-right: 30px;
}
.header .top-side .search-container input {
  flex-grow: 1;
  width: 100px;
  height: 30px;
  border-radius: 30px;
  background: #e2e8f0;
  border: 1.5px rgb(219, 219, 219) solid;
}
.header .top-side .search-container input:hover {
  background-color: rgb(243, 243, 243);
  transition: all ease-in-out 0.25s;
  box-shadow: 0px 0px 5px 5px rgba(172, 172, 172, 0.1);
}

.header .top-side .search-container input:focus {
  outline: 1.5px rgb(156, 156, 255) solid;
}
.header .top-side img {
  width: 74px;
  height: 64px;
  border-radius: 50%;
}

.container {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "sb hd"
    "sb main";
}

.sidebar {
  background-color: #1992d4;
  grid-row: 1 / 3;
  grid-area: sb;
  color: white;
  padding: 20px;
}

.sidebar .title {
  display: flex;
  font-size: 24px;
  font-weight: 500;
  align-items: center;
}
.sidebar .list-item {
  display: flex;
  align-items: center;
  font-weight: bolder;
  margin-left: 10px;
}
.sidebar .list-item li {
  margin-top: 19px;
}

.sidebar .list-item span {
  margin-right: 20px;
  font-size: 24px;
}

.sidebar .title span {
  font-size: 48px;
  color: rgba(255, 255, 255, 1);
  margin-right: 10px;
}
.sidebar li {
  display: inline-block;
}

.sidebar .nav {
  margin: 50px 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.header {
  grid-area: hd;
}

.main-content {
  grid-area: main;
}
