/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  width: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  font-family: "Roboto", sans-serif;
  width: 100%;
  display: grid;
  height: 100vh;
  grid-template-columns: 0fr 3fr;
  grid-template-rows: 0fr 1fr;
  grid-template-areas:
    "sb hd"
    "sb main";
}

.header {
  display: grid;
  grid-template: 0fr 0fr / 1fr;
  padding-bottom: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
}
.header .bottom-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: center;
}
.header .bottom-side .right-side {
  display: flex;
  gap: 30px;
  margin-right: 160px;
}
.header .bottom-side .right-side button {
  font-size: 1.08rem;
  color: white;
  padding: 10px 30px;
  background-color: #26aaf1;
  border-radius: 30px;
  border: none;
  font-weight: 600;
}
.header .bottom-side .left-side {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}
.header .bottom-side .left-side .name p {
  font-size: smaller;
  font-weight: 500;
}
.header .bottom-side .left-side .name h1 {
  font-size: 1.2rem;
  font-weight: 600;
}
.header .bottom-side .left-side .name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header .bottom-side .left-side img {
  width: 102px;
  height: 88px;
  border-radius: 50%;
}

.header .top-side {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.header .top-side .profile {
  display: flex;
  gap: 30px;
  margin-right: 160px;
  align-items: center;
  justify-self: flex-start;
  font-weight: 700;
}

.header .top-side .search-container {
  display: flex;
  width: 60vh;
  align-items: center;
}
.header .top-side .search-container .search {
  margin-right: 30px;
}
.header .top-side .search-container input {
  flex-grow: 1;
  height: 30px;
  font-size: 1.1rem;
  border-radius: 30px;
  background: #e2e8f0;
  border: 1.5px rgb(219, 219, 219) solid;
}
.header .top-side .search-container input:hover {
  background-color: rgb(243, 243, 243);
  transition: all ease-in-out 0.25s;
  box-shadow: 0px 0px 5px 5px rgba(110, 110, 110, 0.1);
}

.header .top-side .search-container input:focus {
  outline: 1.5px rgb(156, 156, 255) solid;
}
.header .top-side img {
  width: 74px;
  height: 64px;
  border-radius: 50%;
}

.sidebar {
  background-color: #1992d4;
  grid-row: 1 / 3;
  grid-area: sb;
  color: white;
  padding: 20px;
  height: 100%;
}

.sidebar .title {
  display: flex;
  font-size: 1.6rem;
  font-weight: 500;
  align-items: center;
}
.sidebar .list-item {
  display: flex;
  align-items: center;
  font-weight: bolder;
  margin-left: 10px;
}
.sidebar .list-item li {
  margin-top: 19px;
}

.sidebar .list-item span {
  margin-right: 20px;
  font-size: 24px;
}

.sidebar .title span {
  font-size: 48px;
  color: rgba(255, 255, 255, 1);
  margin-right: 10px;
}
.sidebar li {
  display: inline-block;
}

.sidebar .nav {
  margin: 50px 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.header {
  grid-area: hd;
}

.main-content {
  padding: 20px;
  background: #e1e7ef;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "ls rs";
  grid-area: main;
  height: 100%;
}
.main-content .left-side {
  grid-area: ls;
}

.main-content .projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
  margin-top: 10px;
}
.main-content .projects .project {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 8px;
  padding: 20px;
  justify-content: space-between;
  gap: 10px;
  border-left: 8px #f0b42b solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 300px;
  height: 160px;
}

.main-content .projects .project .info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-content .projects .project .info h2 {
  padding-top: 15px;
  font-size: 1.1rem;
  font-weight: 600;
}
.main-content .projects .project .info p {
  color: #7d7d7d;
  font-size: 0.9rem;
}

.main-content .left-side h1 {
  font-weight: 500;
  font-size: 1.1rem;
}
.main-content .project .icons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.main-content .right-side {
  display: grid;
  grid-template-rows: 0fr 0fr;
  gap: 10px;
  grid-area: rs;
}
.main-content .right-side .announcements h1 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.main-content .right-side .announcements .announcement {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 10px;
}

.main-content .right-side .announcements .announcement .news {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-content .right-side .announcements .announcement .news h2 {
  font-weight: 600;
  font-size: 0.9rem;
}
.main-content .right-side .announcements .announcement .news p {
  font-size: 0.8rem;
  color: #7d7d7d;
}

.main-content .right-side .announcements .announcement hr {
  border: 0.7px #7d7d7d4d solid;
  width: 100%;
}
.main-content .right-side .trending h1 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.main-content .right-side .trending .trends {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.main-content .right-side .trending h1 {
  margin-top: 20px;
}

.main-content .right-side .trending .trends .trend {
  display: flex;
  align-items: center;
}
.main-content .right-side .trending .trends .trend .info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-content .right-side .trending .trends .trend .info h2 {
  font-weight: 500;
  font-size: 0.9rem;
}
.main-content .right-side .trending .trends .trend .info p {
  color: #7d7d7d;
  font-size: 0.8rem;
}

.main-content .right-side .trending .trends .trend img {
  height: 56px;
  padding-left: 10px;
  width: 56px;
  border-radius: 50%;
}
.main-content .right-side .trending .trends hr {
  border: 0.7px #7d7d7d4d solid;
  width: 100%;
}
